@model IEnumerable<DoceriaGestao.Models.Insumo>

<div class="container mt-4">
    <h2>Lista de Produtos</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Cadastrar novo Produto</a>

    <table class="table table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Preço Total</th>
                <th>Estoque Comprado</th>
                <th>Unidade</th>
                <th class="text-center">Ações</th> </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomeDoProduto</td>
                    <td>@item.PrecoCompra.ToString("C2")</td>
                    <td>
                        @item.QuantidadeItens x @item.ValorMedida.ToString("N2")
                    </td>
                    <td>@item.Unidade</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>